@import "tailwindcss";

@font-face {
  font-family: "OPTITomaso";
  src: url("./assets/fonts/OPTITomaso-Extended.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #f3f4f6;
  --color-card: #ffffff;
  --color-accent: #ea580c;
  --font-sans: "Helvetica", "Arial", sans-serif;
  --font-title: "OPTITomaso", sans-serif;
}

@layer components {
  .card {
    @apply bg-card rounded-2xl shadow-sm p-6;
  }
}

body {
  @apply bg-primary text-gray-800 font-sans;
}
